<h1> <%= @project.title %> </h1>
	
	<%= flash_message %>

<p>
	<%= @project.description %>
</p>


<ul>
	<% @entries.each do |entry| %>
	<li>
		<%= "#{entry.project_id}: #{entry.hour} h - #{entry.minute} m" %>
		<%= link_to "Edit entry", edit_entry_path(entry) %>
		<%= link_to("Delete", entry_path(entry), method: "DELETE", data: {confirm: "Are you sure?"}) %>
	</li>
	<% end %>
	
	<br>
	<p>
		<%= link_to "Back to Project List", projects_path %>
	</p>
	<p>
		<%= link_to "Create Entry", new_project_entry_path(@project.id) %>
	</p>
</ul>